footer {
    position: relative;
    background-image: url('/assets/footer-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    z-index: 1;
}

footer::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(73, 50, 0, 0.75);
    z-index: -1;
}

.social {
    font-size: 25px;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 2;
}

.contact {
    font-size: 22px;
    color: white;
    position: relative;
    z-index: 2;  /* Ensure contact text appears above the overlay */
}

a {
    text-decoration: none;
    position: relative;
    z-index: 2;  /* Ensure links appear above the overlay */
}

p{
    margin: 0;
}

.contact-span{
    font-size: 18px;
    color: white;
}