<header class="container py-3 d-lg-block d-none">
  <div class="row align-items-center justify-content-between">
    <!-- Logo -->
    <div class="col-lg-2 col-md-3 col-sm-4">
      <a class="d-block" href="">
        <img
          src="/assets/Logo.webp"
          class="img-fluid"
          style="max-width: 100px"
          alt="Tahfez Quran Academy Logo"
        />
      </a>
    </div>

    <!-- Navigation -->
    <div class="col-lg-6 mt-md-3 mt-lg-0">
      <nav class="navbar p-0">
        <ul class="navbar-nav flex-row justify-content-around w-100">
          <li class="nav-item">
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link"
              >الرئيسية</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/courses" routerLinkActive="active" class="nav-link"
              >الدورات التعليمية</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/blog" routerLinkActive="active" class="nav-link"
              >المدونة</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/contact" routerLinkActive="active" class="nav-link"
              >تواصل معنا</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <!-- Auth Buttons -->
    <div class="col-lg-4 mt-md-3 mt-lg-0 text-end">
      <div class="d-flex align-items-center justify-content-end gap-3">
        @if (!isLoggedIn) {
        <a routerLink="/register" class="btn btn-outline-primary register"
          >حساب جديد</a
        >
        <a routerLink="/login" class="btn btn-primary login">تسجيل دخول</a>
        } @if (isLoggedIn) {
        <a routerLink="/my-account" class="text-decoration-none">
          <div class="d-flex align-items-center">
            <i class="bi bi-person-circle fs-4 account-icon"></i>
            <span class="ms-2 account-word">حسابي</span>
          </div>
        </a>

        }
      </div>
    </div>
  </div>
</header>

<header class="container py-3 d-lg-none">
  <div class="row d-flex align-items-center justify-content-between flex-row">
    <!-- Logo -->
    <div class="col-6">
      <a class="d-block" href="">
        <img
          src="/assets/Logo.webp"
          class="img-fluid"
          style="max-width: 100px"
          alt="Tahfez Quran Academy Logo"
        />
      </a>
    </div>

    <div class="col-6 d-flex align-items-center justify-content-end gap-3">
      <div>
        @if (isLoggedIn) {
        <a routerLink="/my-account" class="text-decoration-none">
          <div class="d-flex align-items-center">
            <i class="bi bi-person-circle fs-4 account-icon"></i>
            <span class="ms-2 account-word">حسابي</span>
          </div>
        </a>
        }
      </div>

      <!-- Mobile Menu -->
      <div>
        <button
          class="icon-btn"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
        >
          <i class="bi bi-list"></i>
        </button>
        <div
          class="offcanvas offcanvas-start"
          data-bs-scroll="true"
          tabindex="-1"
          id="offcanvasWithBothOptions"
          aria-labelledby="offcanvasWithBothOptionsLabel"
        >
          <div class="offcanvas-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <div>
              <nav class="navbar p-0">
                <ul class="navbar-nav flex-column justify-content-around w-100">
                  <li class="nav-item">
                    <a
                      routerLink="/"
                      routerLinkActive="active"
                      [routerLinkActiveOptions]="{ exact: true }"
                      class="nav-link"
                      >الرئيسية</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      routerLink="/courses"
                      routerLinkActive="active"
                      class="nav-link"
                      >الدورات التعليمية</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      routerLink="/blog"
                      routerLinkActive="active"
                      class="nav-link"
                      >المدونة</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      routerLink="/contact"
                      routerLinkActive="active"
                      class="nav-link"
                      >تواصل معنا</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div class="d-flex align-items-center justify-content-evenly mt-3 gap-3">
              @if (!isLoggedIn) {
              <a routerLink="/register" class="btn btn-outline-primary register"
                >حساب جديد</a
              >
              <a routerLink="/login" class="btn btn-primary login"
                >تسجيل دخول</a
              >
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>