

/* .form-container{
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
} */

.hero{
    height: 40vh;
    background-color: var(--primary-color);
}

.dark-col{
    background-color: var(--primary-color);
    border-radius: 0  12px 12px 0;;
}

span{
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
}

i{
    color: white;
    font-size: 22px;
}

.iti {
  width: 100%;
}

.iti {
  display: block !important;
}

.iti__flag-container {
  height: 100%;
  border-right: 1px solid #ced4da;
}

.iti__selected-flag {
  padding: 0 8px;
  height: 100%;
}
