<section class="container">
    <h3>كل الحصص</h3>
    @if (lessons.length === 0) {
        <div class="alert alert-warning" role="alert">
            لا توجد حصص متاحة.
        </div>
    }
    <table class="content-table">
        <thead>
            <tr>
                <th>العنوان</th>
                <th>الدورة</th>
                <th>المعلم</th>
                <th>رابط الدخول</th>
                <th>رابط البدء</th>
                <th>ميعاد البداية</th>
                <th>المدة</th>
            </tr>
        </thead>
        <tbody>
            @for (lesson of lessons; track $index) {
                <tr>
                    <td data-cell="العنوان">{{ lesson.topic }}</td>
                    <td data-cell="الدورة">{{ lesson.course.title }}</td>
                    <td data-cell="المعلم">{{ lesson.instructor.name }}</td>
                    <td data-cell="رابط الدخول">{{ lesson.joinurl }}</td>
                    <td data-cell="رابط البدء">{{ lesson.starturl }}</td>
                    <td data-cell="ميعاد البداية">{{ lesson.startTime }}</td>
                    <td data-cell="المدة">{{ lesson.duration }}</td>
                </tr>
            }
        </tbody>
    </table>
</section>
