<section class="my-3">
  @if (errorMessage) {
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  } @if (successMessage) {
  <div class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  }
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">fff</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col">
            <label for="firstName" class="form-label">الاسم الاول</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName"
            />
          </div>
          <div class="col">
            <label for="lastName" class="form-label">الاسم الاخير</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
            />
          </div>
        </div>
    
        <div class="row mb-3">
          <div class="col">
            <label for="phone" class="form-label">الهاتف</label>
            <input
              type="phone"
              class="form-control"
              id="phone"
              formControlName="phoneNumber"
            />
          </div>
          <div class="col">
            <label for="password" class="form-label">الرقم السري</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="اتركه فارغًا إذا لم ترغب في تغييره"
            />
          </div>
        </div>
    
        @if (currentUser.roles?.[0] === 'Instructor') {
        <div class="row mb-3">
          <div class="col">
            <label for="cv" class="form-label">السيرة الذاتية</label>
            <input type="file" class="form-control" id="cv" formControlName="cv" />
          </div>
          <div class="col">
            <label for="intro-video" class="form-label">الفيديو التعريفي</label>
            <input
              type="file"
              class="form-control"
              id="intro-video"
              formControlName="introVideo"
            />
          </div>
        </div>
    
        <div class="row mb-3">
          <label for="bio" class="form-label">نبذه</label>
          <textarea
            name="bio"
            id="bio"
            class="form-control"
            formControlName="bio"
          ></textarea>
        </div>
        }
    
        <button type="submit" class="form-button" (click)="onSubmit()">
          @if (loading) {
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          جار التحميل... } @else { تعديل }
        </button>
      </form>
    </div>
  </div>
</section>
