<section class="container">
    <div class="swiper-container">

        <div class="swiper">
          <div class="swiper-wrapper">
            @for (course of courses; track $index) {
            <div class="swiper-slide">
              <div class="card px-3 py-3">
                <img [src]="course.courseImage" class="img-thumbnail" alt="" />
      
                <h3>{{ course.title }}</h3>
                <div class="d-flex justify-content-between mt-2">
                  <h5>{{ course.categoryId }}</h5>
                  <h5>{{ course.nuOfLessons }}</h5>
                </div>
      
                <div class="d-flex justify-content-between mt-2">
                  <h5>{{ course.originalPrice }}</h5>
                  <h5 class="old-price">{{ course.discountedPrice }}</h5>
                </div>

                <a [routerLink]="['/single-course', course.id]" class="nav-button">عرض الدورة</a>
              </div>
            </div>
            }
          </div>
      </div>
    </div>
    <div class="swiper-buttons d-flex justify-content-center mt-3">

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
