<section class="container">
    <form action="">
        <div class="row mb-3">
            <div class="col">
                <label for="firstName">الاسم الاول</label>
                <input type="text" id="firstName" class="form-control" placeholder="Name">
            </div>
            <div class="col">
                <label for="lastName">الاسم الاخير</label>
                <input type="text" id="lastName" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="email">البريد الالكتروني</label>
                <input type="email" id="email" class="form-control" placeholder="Name">
            </div>
            <div class="col">
                <label for="phone">الهاتف</label>
                <input type="tel" id="phone" class="form-control" placeholder="Name">
            </div>
            <div class="row">
                <label for="password">الرقم السري</label>
                <input type="password" id="password" class="form-control" placeholder="Name">
            </div>
        </div>
        <input type="submit" value="حفظ" class="btn btn-primary">
    </form>
</section>
