  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-2">
    @for (course of pagedCourses; track $index) {
    <div class="col">
      <div class="card px-2 py-2">
        <img [src]="course.image" class="img-thumbnail" alt="" />
  
        <h3>{{ course.title }}</h3>
        <div class="d-flex justify-content-between mt-2">
          <h5>{{ course.categoryId }}</h5>
          <h5>{{ course.nuOfLessons }}</h5>
        </div>
  
        <div class="d-flex justify-content-between mt-2">
          <h5>{{ course.salePrice }}</h5>
          <h5 class="old-price">{{ course.originalPrice }}</h5>
        </div>

        <a class="nav-button" [routerLink]="['/single-course', course.id]">عرض الدورة</a>
      </div>
    </div>
    }
  
     @if (totalPages > 1) {
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)">السابق</a>
        </li>
  
        @for (page of pageNumbers(); track page) {
          <li class="page-item" [class.active]="currentPage === page">
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>
        }
  
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)">التالي</a>
        </li>
      </ul>
    </nav>
  }
  </div>