<section class="container my-5">
  <h1>اهلا, {{ currentUser.firstName }} {{ currentUser?.lastName }}</h1>
  <h3>{{ currentUser.roles?.[0] }}</h3>
  <button (click)="logOut()" class="btn btn-danger my-3">تسجيل الخروج</button>
  <ul class="nav nav-tabs" id="courseTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="course-description-tab"
        data-bs-toggle="tab"
        data-bs-target="#course-description"
        type="button"
        role="tab"
        aria-controls="course-description"
        aria-selected="true"
      >
        لوحة التحكم
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="course-reviews-tab"
        data-bs-toggle="tab"
        data-bs-target="#course-reviews"
        type="button"
        role="tab"
        aria-controls="course-reviews"
        aria-selected="false"
      >
        اضافة دورة تعليمية
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="add-lesson-tab"
        data-bs-toggle="tab"
        data-bs-target="#add-lesson"
        type="button"
        role="tab"
        aria-controls="add-lesson"
        aria-selected="false"
      >
        اضافة حصة
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="lesson-reports-tab"
        data-bs-toggle="tab"
        data-bs-target="#lesson-reports-reviews"
        type="button"
        role="tab"
        aria-controls="lesson-reports"
        aria-selected="false"
      >
        تقارير الحصص
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="salary-reviews-tab"
        data-bs-toggle="tab"
        data-bs-target="#salary-reviews"
        type="button"
        role="tab"
        aria-controls="salary-reviews"
        aria-selected="false"
      >
        الراتب والتفاصيل
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="update-user-tab"
        data-bs-toggle="tab"
        data-bs-target="#update-user-reviews"
        type="button"
        role="tab"
        aria-controls="update-user-reviews"
        aria-selected="false"
      >
        تعديل بيانات الحساب
      </button>
    </li>
  </ul>

  <div class="tab-content mt-3" id="courseTabsContent">
    <div
      class="tab-pane fade show active"
      id="course-description"
      role="tabpanel"
      aria-labelledby="course-description-tab"
    >
      <h3>الدورات الحالية</h3>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <app-course-grid></app-course-grid>
    </div>
    <div
      class="tab-pane fade"
      id="course-reviews"
      role="tabpanel"
      aria-labelledby="course-reviews-tab"
    >
      <app-add-course></app-add-course>
    </div>
    <div
      class="tab-pane fade"
      id="add-lesson"
      role="tabpanel"
      aria-labelledby="add-lesson-tab"
    >
      <ul class="nav nav-tabs" id="leesonTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="meet-tab"
            data-bs-toggle="tab"
            data-bs-target="#meet"
            type="button"
            role="tab"
            aria-controls="meet"
            aria-selected="true"
          >
            Google Meet
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="zoom-tab"
            data-bs-toggle="tab"
            data-bs-target="#zoom"
            type="button"
            role="tab"
            aria-controls="zoom"
            aria-selected="false"
          >
            Zoom
          </button>
        </li>
      </ul>
      <div class="tab-content" id="leesonTabsContent">
        <div
          class="tab-pane fade show active"
          id="meet"
          role="tabpanel"
          aria-labelledby="meet-tab"
        >
          <button class="btn btn-primary">ربط حسابك ب Google Meet</button>
          <app-add-meet-lesson></app-add-meet-lesson>
        </div>
        <div
          class="tab-pane fade"
          id="zoom"
          role="tabpanel"
          aria-labelledby="zoom-tab"
        >
          <app-add-zoom-lesson></app-add-zoom-lesson>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="salary-reviews"
      role="tabpanel"
      aria-labelledby="salary-reviews"
    >
      <div class="row">
        <div class="col">
          <div class="card py-3">
            <i class="bi bi-currency-dollar text-center"></i>
            <div class="text-center mt-2">gg</div>
            <p class="text-center mt-2">اجمالي الراتب المستحق</p>
          </div>
        </div>
        <div class="col">
          <div class="card py-3">
            <i class="bi bi-currency-dollar text-center"></i>
            <div class="text-center mt-2">gg</div>
            <p class="text-center mt-2">المعدل لكل حصة</p>
          </div>
        </div>
        <div class="col">
          <div class="card py-3">
            <i class="bi bi-currency-dollar text-center"></i>
            <div class="text-center mt-2">gg</div>
            <p class="text-center mt-2">اجمالي الحصص المكتملة</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="update-user-reviews"
      role="tabpanel"
      aria-labelledby="update-user-reviews"
    >
      <app-update-user></app-update-user>
    </div>
    <div
      class="tab-pane fade"
      id="lesson-reports-reviews"
      role="tabpanel"
      aria-labelledby="lesson-reports-tab"
    >
      <app-lesson-report></app-lesson-report>
    </div>
  </div>
</section>
