<section>
  <div class="container">
    <h1>
      تحفيظ القران اون لاين <br />
      <span>للكبار والاطفال</span> <br />
      تحفيظ القران عن بعد
    </h1>

    <p>
      تحفيظ القرآن أون لاين للكبار والاشتراك علي يد محفظين ومحفظات للقران حاصلين
      علي إجازات وسند متصل عن النبي صلي الله عليه وسلم شهري 25 دولار
    </p>
    <div>
      <a href="">احجز حصة تجريبية</a>
      <a routerLink="/allcourses">الدورات التعليمية</a>
    </div>
  </div>
</section>

<section
  class="container sec2 d-flex flex-column justify-content-center align-items-start"
>
  <h2 class="pb-4">ما يميزنا</h2>
  <div class="row">
    <div class="col box1 py-3 px-4">
      <h3 class="text-white"><b>01</b></h3>
      <h2>معلمون ذوو كفاءة</h2>
      <p>
        المعلمون مدربون جيدًا على التعامل مع الطلاب من جنسيات مختلفة ومستويات
        طلابية مختلفة. يتمتعون بخبرة عالية وموهوبون في التعامل مع صعوبات تعلم
        اللغة العربية والقرآن الكريم. نحن نتفهم الاحتياجات التعليمية للأطفال،
        لذلك نختار أكفأ المعلمين لهذا الغرض من أجل تحقيق أعلى الأهداف إن شاء
        الله.
      </p>
    </div>
    <div class="col box2 py-3 px-4">
      <h3><b>02</b></h3>
      <h2>سهولة التعليم المنزلي</h2>
      <p>
        سهولة التعلم المنزلي أوقات مناسبة من اختيارك التعلم الفردي أو الجماعي
        معلمون ذوو خبرة وكفاءة أسعار مناسبة للجميع
      </p>
    </div>
    <div class="col box3 py-3 px-4">
      <h3 class="text-white"><b>03</b></h3>
      <h2>أسعار مناسبة</h2>
      <p>
        مركز تحفيظ القرآن يرحب بالطلاب للانضمام إلى مجتمعه التفاعلي برسوم في
        متناول الجميع تناسب كل طالب أعلى جودة بأقل رسوم ضمان استرداد الأموال
        بنسبة 100٪
      </p>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col">
      <h2>
        حفظ القران عن بعد <strong>بدقة واتقان</strong> كما ورد عن النبي صلي الله
        عليه وسلم
      </h2>
      <p>
        نتطلع للتميز والريادة في مجال تعليم القرآن الكريم أون لاين وتقديم برامج
        علمية وتعليمية في بيئة محفزة تعتمد على التفاعل بين الطالب والمعلم وتركز
        على التعلم الذاتي باستخدام وسائل الاتصال الحديثة وتقنياتها على نحو يتيح
        فرصة التعلم لأكبر عدد من الراغبين على مستوى العالم ملتزمين معايير الجودة
        العالمية.
      </p>
    </div>
    <div class="col">
      <img src="/assets/Glorious-Quran.jpg" width="80%" class="rounded" alt="">
      <img src="/assets/muslim-kids-learn.jpg" class="rounded abs-img" alt="">
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col">
      <h2>
        جميع من يعملون بالموقع لديهم إجازات او سند متصل عن النبي صلي الله عليه
        وسلم
      </h2>
      <h3>
        مجموعة من أكفأ المعلمين (رجال و نساء) حاصلين على إجازات و أسانيد عالية.
      </h3>
      <p>نتيح لك اختيار الوقت المناسب لجدولك بالإضافة إلى إمكانية التغيير.</p>
      <ul class="list-unstyled">
        <li>
          <i class="bi bi-patch-check me-2"></i>
          <span>
            حفظ القرآن الكريم بدقة وإتقان كما ورد عن النبي صلى الله عليه وسلم
          </span>
        </li>
        <li>
          <i class="bi bi-patch-check me-2"></i>
          <span> معلمات للنساء والفتيات </span>
        </li>
        <li>
          <i class="bi bi-patch-check me-2"></i>
          <span> برنامج أحكام التجويد والتلاوة </span>
        </li>
        <li>
          <i class="bi bi-patch-check me-2"></i>
          <span>
            نتيح لك اختيار الوقت المناسب لجدولك بالإضافة إلى إمكانية التغيير.
          </span>
        </li>
        <li>
          <i class="bi bi-patch-check me-2"></i>
          <span> برنامج مخصص للإجازة القرانية </span>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card1 py-4 px-4">
            <h4>تحفيظ القران اون لاين للنساء</h4>
            <p>
              تحفيظ القران اون لاين للنساء علي يد معلمات قران كريم مجازات ولديهم
              سند متصل عن النبي صلي الله عليه وسلم
            </p>
          </div>
          <div class="card2 py-4 px-4">
            <h4>تحفيظ القرآن للأطفال</h4>
            <p>
              تحفيظ القران للأطفال علي يد معلمين ومعلمات لديهم الخبرة الكافية
              للتعامل مع المراحل السنية المختلفة
            </p>
          </div>
        </div>
        <div class="col">
          <div class="card3 py-4 px-4">
            <h4>تحفيظ القران للكبار</h4>
            <p>
              يقوم بتحفيظ القرىن الكريم نخبة من المشايخ تحفيظ القران - تجويد -
              مراجعة التعليم عن طريق المجموعات والفردي
            </p>
          </div>
          <div class="card4 py-4 px-4">
            <h4>ايجازات القران الكريم</h4>
            <p>
              الإجازة هي شهادة من الشيخ المجيز للطالب المجاز بأنه قد قرأ عليه
              القرآن كاملاًغيباً مع التجويد والإتقان للرواية أو الروايات المجاز
              بها
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>Category</section>
<section class="container">
  <div class="d-flex  justify-content-between my-3">
    <h2>الدورات التعليمية</h2>
    <a routerLink="/courses" class="button">جميع الدورات</a>
  </div>
  <app-course-carousel></app-course-carousel>
</section>
<section>blog</section>
