/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ef9a1c;
  --secondary-color: #981410;
}
.form-control:focus {
  box-shadow: 0 0 0 0.10rem #e9b970;
  border: 1px solid #f7d29c;
}

input {
  direction: rtl !important;
}

p {
  font-size: 18px;
}
.form-button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 35px;
    padding: 10px 25px;
    color: white;
    font-size: 18px;
}

.iti {
  display: block !important;
}