<section class="container pt-5">
  <div class="row">
    <div class="col-4">
      <h5>التصنيف: {{ course.categoryName }}</h5>
      <br />
      <h5>عدد الحصص {{ course.nuOfLessons }}</h5>
      <br />
      <p>
        المعلم <br />
        {{ course.instructorName }}
      </p>
      <p class="text-center pt-3">سعر الاشتراك: {{ course.originalPrice }}$</p>
      @if(course.salePrice){
      <p class="text-center pt-3">السعر بعد الخصم: {{ course.salePrice }}$</p>
      }
      <button class="subscribe-btn" (click)="PurchaseCourse(paymentData)">
        اشترك الان
      </button>
      @if (paymentErrorMessage) {
        <div class="alert alert-danger" role="alert">
          {{ paymentErrorMessage }}
        </div>
      }
      @if (paymentSuccessMessage) {
        <div class="alert alert-success" role="alert">
          {{ paymentSuccessMessage }}
        </div>
      }
    </div>
    <div class="col-8">
      <h1>{{ course.title }}</h1>
      <img src="/assets/minimalism4.jpg" width="100%" height="350px" alt="" />
      <img [src]="course.image" width="100%" height="350px" alt="" />

      <div class="mt-4">
        <!-- Tabs navigation -->
        <ul class="nav nav-tabs" id="courseTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="course-description-tab"
              data-bs-toggle="tab"
              data-bs-target="#course-description"
              type="button"
              role="tab"
              aria-controls="course-description"
              aria-selected="true"
            >
              وصف الدورة
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="course-reviews-tab"
              data-bs-toggle="tab"
              data-bs-target="#course-reviews"
              type="button"
              role="tab"
              aria-controls="course-reviews"
              aria-selected="false"
            >
              المراجعات
            </button>
          </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content mt-3" id="courseTabsContent">
          <div
            class="tab-pane fade show active"
            id="course-description"
            role="tabpanel"
            aria-labelledby="course-description-tab"
          >
            <p>{{ course.description }}</p>
          </div>
          <div
            class="tab-pane fade"
            id="course-reviews"
            role="tabpanel"
            aria-labelledby="course-reviews-tab"
          >
            <app-course-reviews></app-course-reviews>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
